body {
    background-color: black;
    text-align: center;
    color: white;
}

.hideResults {
    opacity: 0;
}

img {
    width: 150px;
    margin-left: 30px;
}

img:hover {
    transition: .5s ease;
    width: 170px;
}
